body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
    color: #333;

}

header {
    background: #002147;
    color: white;
    text-align: center;
    padding: 1.5px 0;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo img {
    max-height: 80px;
    margin-right: 165px;
}

.container {
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.sidebar {
    width: 15%;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.sidebar h2 {
    color: #d9534f;
    font-size: 12px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    padding: 8px 0;
}

.sidebar ul li a {
    text-decoration: none;
    color: #002147;
    font-weight: bold;
}

main {
    width: 70%;
}

.featured-news, .blog-post {
    background: white;
    padding: 20px;
    margin: 20px 0;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.featured-news h2 {
    color: #d9534f;
}

.blog-post img {
    width: 30%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
}

nav {
    text-align: center;
    padding: 15px;
    background: green;
}

nav a {
    color: white;
    margin: 35px;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
}

footer {
    text-align: center;
    padding: 1.5rem;
    background: #002147;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    margin-top: 20px;
}

.social-media {
    margin-top: 10px;
}

.social-media a {
    margin: 0 15px;
    text-decoration: none;
    font-size: 24px;
    color: #ffffff;
    transition: color 0.3s ease-in-out;
}

.social-media a:hover {
    color: #f4f4f4;
}
